@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
  font-family: 'Space Mono', monospace;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  background-color: hsl(185, 41%, 84%);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App{
  color: hsl(183, 100%, 15%);
}
html, body, #root, #root>div{
  height: 100%;
  margin: 0;
}
.title{
  color: hsl(183, 100%, 15%);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 10%;
  font-weight: 500;
}
.calculator{
  background-color: white;
  display: flex;
  justify-content: center;
}
.input{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bill{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 30%;
}
.amount-container{
  height: 40%;
  width: 100%;
  display: flex;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
}
.dollar{
  position: absolute;
  height: 50%;
  align-self: center;
  left: 1em;
}
.text{
  text-align: start;
  display: flex;
  align-items: center;
  height: 20%;
  font-weight: 600;
  color: hsl(184, 14%, 45%);
}
.amount{
  height: 100%;
  text-align: end;
  font-size: 24px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: 0px none;
  border-radius: 5px;
  position: absolute;
  right: 5%;
  outline: none;
  
}
.tip{
  display: flex;
  flex-direction: column;
  height: 40%;
}
.tip-container{
  display: grid;
  gap: 5%;
  column-gap: 4%;
  row-gap: 8%;
  height: 80%;
}
.tip-container button {
  border: none;
  background-color: hsl(183, 100%, 15%);;
  color: white;
  border-radius: 5px;
  font-size: 2em;
}
.custom-tip{
  background-color: hsl(189, 41%, 97%);
  font-size: 2em;
  text-align: center;
  color: hsl(184, 14%, 56%);
  border-radius: 5px;
  border: none;
  width: 100%;
}

/* .persons{
  display: flex;
  flex-direction: column;
  height: 30%;
} */
.people-container{
  height: 40%;
  width: 100%;
  display: flex;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
}
.number-people{
  height: 100%;
  text-align: end;
  font-size: 24px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: 0px none;
  border-radius: 5px;
  position: absolute;
  right: 5%;
  outline: none;
}
.person{
  position: absolute;
  height: 50%;
  align-self: center;
  left: 1em;
}

.output{
  background-color: hsl(183, 100%, 15%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-output{
  color: white;
  font-size: 1.5em;
}
.text-person{
  color: hsl(189, 41%, 70%);
}
.amount-output{
  color: hsl(172, 67%, 45%);
  height: 100%;
  text-align: end;
  font-size: 30px;
  border: 0px none;
  border-radius: 5px;
  position: absolute;
  right: 5%;
  outline: none;
}
.reset{
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 2em;
  border: none;
  border-radius: 5px;
  height: 20%;
  width: 90%;
  position: absolute;
  bottom: 10%;
  display: inline-block;
  line-height: 15px;
}
.dollar-output{
  background-color: hsl(183, 100%, 15%);
  color: hsl(172, 67%, 45%);;
  height: 10%
}
.selected{
  background-color: hsl(172, 67%, 45%) !important;
  color: hsl(183, 100%, 15%) !important;
}
@media screen and (max-width: 767px){
  .App{
    display: flex;
    flex-direction: column;
    gap:15px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    
  }
  .title-container{
    align-self: center;
    display: flex;
    height: 15.4%;
    align-items: center;
  }
  .title{
    width: 33%;
    
  }
  .title *{
    font-size: 2.5rem;
  }
  .input{
    height: 60%;
    position: relative;
  }
  .output{
    height: 30%;
    border-radius: 15px;
    position: relative;
  }
  .title-output{
    font-size: 4vmin;
  }
  .amount-output{
    font-size: 6vmin;
  }
  .text-person{
    font-size: 3vmin;
  }
}
  .calculator{
    height: 84.6%;
    bottom: 0px;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .bill{
    position: absolute;
    top:2%;
    height: 20%;
  }
  .tip{
    height: 50%;
    position: absolute;
    top: 18%
  }
  .persons{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 5%;
  }
  .tip-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .tip-container button {
    font-size: 5vmin;
  }
  .tip-amount, .total-amount{
    height: 25%;
    width: 90%;
    display: flex;
    overflow: hidden;
    position: absolute;
  }
  .tip-amount{
    top: 10%;
  }
  .total-amount{
    top:38%;
  }


@media screen and (min-width: 768px){
  
  html, body, #root, #root>div{
    height: 100%;
    margin: 0;
  }
  .container{
    justify-items: center;
    align-items: center;
    position: relative;
  }
  .calculator{
    height: min(47vh, 30vw);
    aspect-ratio: 1.9;
    flex-direction: row;
    position: absolute;
    border-radius: 15px;
    top: 30%;
    justify-content: space-around;
  }
  .title-container{
    position: absolute;
    top: 15%;
  }
  .output, .input{
    height: 80%;
    border-radius: 8px;
    width: 43%;
    position: relative;
  }
  .input{
    justify-content: space-between;
  }
  .bill{
    height: 20%;
    position: absolute;
  }
  .bill .text{
    height: 28%;
  }
  .bill .amount-container{
    height: 72%;
  }
  .tip{
    position: absolute;
    top: 28%;
  }
  .tip-button, .custom-tip, .number-people, .amount, .title-output  {
    font-size: min(1.6vw, 2.2vh) !important;
    font-weight: bold;
  }

  .text-person{
    font-size: 1vmin !important;
  }
  .title *{
    font-size: min(3vw, 4vh) !important;
  }
  .amount-output{
    font-size: 3vmin !important;
    font-weight: 600;
  }
  .reset{
    font-size: min(2vw, 2.5vh) !important;
  }
  .tip-amount{
    height: 15%;
    position: absolute;
    top: 8%
  }
  .total-amount{
    height: 15%;
    position: absolute;
    top: 30%
  }
  .persons{
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 0% !important;
  }
  .persons .text{
    height: 28%;
  }
  .persons .people-container{
    height: 72%;
  }
  
  .tip-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .amount-container{
    height: 80%;
  }

}